@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Young Serif' serif;

}

body {
    background-color: rgb(29, 29, 29);
    min-height: 100vh;
}

.section1 {
    background-image: url(img/background1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    max-width: 7rem;
    text-shadow: 0 0 5px #000000;
}

.navbar a {
    flex: 1;
    text-align: right;
    position: relative;
    font-size: 18px;
    color: antiquewhite;
    text-shadow: 0 0 5px #000000;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    flex: 1;
    text-align: right;
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: antiquewhite;

    transition: .3s;
}

.navbar a:hover::before {
    width: 60%;
}

/*HEADER PRINCIPAL*/
.main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    min-height: 80vh;
}
.textbox {

    
}
.main h1{
    display:flex;
    justify-content: center ;
    font-family: 'Tangerine';
    color: antiquewhite;
    text-shadow: 
    0 0 15px #000000;
    font-size: 5.5rem;
    border-bottom: 2px dashed antiquewhite;
    border-bottom-width: 2px;
    margin-bottom: 1rem;
    margin-left: 10.8rem;
    margin-right: 10.8rem;
}
.main h2{
    display:flex;
    justify-content: end ;
    align-items: end;
    flex-direction: column;
    align-items: center;
    font-family: 'Tangerine';
    color: antiquewhite;
    text-shadow: 
    0 0 15px #000000;
    font-size: 3.5rem;
    border-bottom-width: 2px;
    margin-bottom: 1rem;
    margin-top: 300px;
}

.main h2 i{
    font-size: 1rem;
}
.main p{
    text-align: justify;
    margin-left: 11rem;
    margin-right: 11rem;
    color: antiquewhite;
    font-size: 1.5rem;
    text-shadow: 
    0 0 15px #000000;
}
.main a {
    padding: 1rem 2rem;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    margin-top: 4rem;
    text-shadow: 
    0 0 15px #000000;
    text-decoration: none;
    color: antiquewhite;
    font-size: 1.8rem;
    border-color: antiquewhite;

    transition: .4s;
}
.main a:hover {
    padding: 1rem 2rem;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    margin-top: 4rem;
    text-shadow: 
    0 0 15px #000000;
    text-decoration: none;
    color: antiquewhite;
    font-size: 1.8rem;
    border-color: antiquewhite;
    background-color: rgb(107, 52, 0);
}

.section2{
    padding: 3rem;

}

.pizzasdiv{
    text-align: center;
    color: antiquewhite;
}

.pizzasdiv h1{
    font-family: 'Tangerine';
    font-size: 5rem
}

.pizzasdiv p{
    font-size: 1.5rem
}


.pricing {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.pricing .card {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.pricing .card:hover{
    background-color: #7e4612;
    border-color: #ffffff; 
    font-family: "Young Serif" serif;
}

.pricing .card .content{
    flex: 1;
    margin-bottom: 2rem;
}

.pricing .card h4{
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.pricing .card h3{
    color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #fff;
}

.pricing .card p{
    color: #fff;
    margin-bottom: 0.75rem;
}

.pricing .card p i{
    color: #ccc;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.pricing .card button{
    font-family: 'Young Serif';
    padding: 2rem 1rem;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.pricing .card button:hover{
    background-color: #d8771d;
    border-color: #d8771d;
}